* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  position: absolute;
  background: url("../images/bg.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

img, div, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -moz-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
}

.link {
  margin: 0 auto;
  display: none;
}

.load {
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffd4f5;
}

.load img {
  width: 40px;
  height: 40px;
  top: 50%;
  position: absolute;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.container {
  position: relative;
  display: none;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
}

.resize {
  position: absolute;
}

.center {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.flower {
  background: url('../images/flower.png') center no-repeat;
  background-size: 100%;
  -webkit-background-size: 100%;
}

.flower.active {
  transition: transform 2s linear;
  -webkit-transition: -webkit-transform 2s linear;
}

.button .button1 {
  display: block;
}

.button .button2 {
  display: none;
}

.button.active .button1 {
  display: none;
}

.button.active .button2 {
  display: block;
}

.cover {
  display: none;
}

.cover.active {
  display: block;
  animation: fadeOut 1s 2s 1 both;
  -webkit-animation: fadeOut 1s 2s 1 both;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ling {
  transform: scale(0) rotate(0deg);
  -webkit-transform: scale(0) rotate(0deg);
  background: url('../images/ling.png') center;
  background-size: 100%;
  -weibkit-background-size: 100%;
}

.ling.active {
  animation: flyOut 1s 1 both;
  -webkit-animation: flyOut 1s 1 both;
}

@keyframes flyOut {
  0% {
    transform: scale(0) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}

@-webkit-keyframes flyOut {
  0% {
    -webkit-transform: scale(0) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(720deg);
  }
}

#mask {
  position: absolute;
  top: 0;
  height: 100%;
  background: #000;
  z-index: 4;
  opacity: 0.5;
  display: none;
}

.handTop, .handBottm, .hand2 {
  display: none;
}

.open1 {
  background: url('../images/ling-open1.png') no-repeat center;
  background-size: 100%;
  -webkit-background-size: 100%;
  display: none;
}

.open2 {
  background: url('../images/ling-open2.png') no-repeat center;
  background-size: 100%;
  -webkit-background-size: 100%;
  display: none;
}

.open3 {
  background: url('../images/ling-open3.png') no-repeat center;
  background-size: 100%;
  -webkit-background-size: 100%;
  display: none;
}

.ling-content {
  opacity: 0;
}

.product, .code, .again, .share {
  opacity: 0;
  display: none;
}

.fadeIn1 {
  animation: fadeIn 2s 0.2s forwards;
  -webkit-animation: fadeIn 2s 0.2s forwards;
}

.fadeIn2 {
  display: block;
  animation: fadeIn 2s 1s forwards;
  -webkit-animation: fadeIn 2s 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.arrow {
  display: none;
}

.arrow2 {
  opacity: 0;
  animation: fadeIn 1s infinite alternate;
  -webkit-animation: fadeIn 1s infinite alternate;
}

.content_cover {
  width: 100%;
  height: 100%;
  z-index: 9;
  background: transparent;
  top: 0;
  left: 0;
  position: absolute;
}
